{% extends "nav.html" %} {% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        创建项目
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">创建项目</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">创建项目</h3>
        </div>
        <div class="box-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-lg-2">项目名字</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="name" placeholder="项目名字">
                    </div>
                </div>

                <div class="form-group">
                    <label for="project_prefix" class="col-lg-2">项目文件前缀</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="project_prefix" placeholder="项目文件前缀">
                    </div>
                </div>

                <div class="form-group">
                    <label for="repo_url" class="col-lg-2">repo</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="repo_url" placeholder="git remote url">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">checkout dir</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="checkout_dir">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">deploy dir</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="deploy_dir">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">deploy history dir</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="deploy_history_dir">
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">pre checkout</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" type="text" id="before_checkout" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">post checkout</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" type="text" id="after_checkout" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">pre deploy</label>
                    <div class="col-lg-10">

                        <textarea class="form-control" type="text" id="before_deploy" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="col-lg-2">post deploy</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" type="text" id="after_deploy" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button id="submit" class="btn btn-primary">保存</button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->
{% endblock %}

{% block footerJS %}
<script src="{{ url_for('static', filename='js/pydelo/project_create.js') }}"></script>
{% endblock %}
