{% extends "nav.html" %} {% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        用户项目配置
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">用户项目配置</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">用户项目配置</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-3">
                    <label class="label label-primary">可选项目</label>
                    <p>&nbsp;</p>
                    <select id="projects" multiple="multiple" style="height: 400px; min-width: 200px"></select>
                </div>
                <div class="col-lg-2">
                    <button id="add_projects" class="btn">+</button>
                    <button id="remove_projects" class="btn">-</button>
                </div>
                <div class="col-lg-3">
                    <label class="label label-primary">已选项目</label>
                    <p>&nbsp;</p>
                    <select id="projects_selected" multiple="multiple"  style="height: 400px; min-width: 200px"></select>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button id="submit" class="btn btn-primary">保存</button>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>
<!-- /.content -->
{% endblock %}

{% block footerJS %}
<script src="{{ url_for('static', filename='js/pydelo/user_projects.js') }}"></script>
{% endblock %}
