{% extends "nav.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/pydelo/user_projects.js') }}"></script>
{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                <h3 class="panel-title" style="line-height: 30px;">用户项目配置</h3>
            </div>
            <div class="pull-right">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3">
                    <label class="label label-primary">可选项目</label>
                    <p>&nbsp;</p>
                    <select id="projects" multiple="multiple" style="height: 400px; min-width: 200px"></select>
                </div>
                <div class="col-lg-2">
                    <button id="add_projects" class="btn">+</button>
                    <button id="remove_projects" class="btn">-</button>
                </div>
                <div class="col-lg-3">
                    <label class="label label-primary">已选项目</label>
                    <p>&nbsp;</p>
                    <select id="projects_selected" multiple="multiple"  style="height: 400px; min-width: 200px"></select>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button id="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
{% endblock %}
